<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id='demo1'>
            <!-- v-model可以处理表单数据的双向绑定 -->
            <input v-model='message' placeholder="edit me">
            <p>Message is: {{ message }}</p>
        </div>
        <script>
            const v1 = new Vue({
                el: '#demo1',
                data: {
                    message: ''
                }                                                                
            })                    
        </script> 
        
        <div id='demo2'>
            <!-- 多行文本 -->
            <span>Multiline message is:</span>
            <p style="white-space: pre-line">{{ message }}</p>
            <br>
            <textarea v-model='message'></textarea>
        </div>
        <script>
            const v2 = new Vue({
                el: '#demo2',
                data: {
                    message: ''
                }
            })
        </script>

        <div id='demo3'>
            <p>单个复选框<p>
            <input type="checkbox" id='checkbox' v-model='checked'>            
            <label for="checkbox">{{ checked }}</label>            
            
            <p>多个复选框</p>
            <input type="checkbox" id='jack' value='jack' v-model='checkedNames'>
            <label for="jack">Jack</label>
            <input type="checkbox" id='John' value='John' v-model='checkedNames'>
            <label for="John">John</label>
            <input type="checkbox" id='Mike' value='Mike' v-model='checkedNames'>
            <label for="Mike">Mike</label>

            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <script>
            const v3 = new Vue({
                el: '#demo3',
                data: {
                    checked: false,
                    checkedNames: []            
                }
            })
        </script>

        <div id='demo4'>
            <!-- <input type="radio" id='one' value='One' v-model='picked'>
            <label for="one">One</label>
            <input type="radio" id='two' value='Two' v-model='picked'>
            <label for="two">Two</label> -->

            <template v-for='item of items'>            
                <input type="radio" :id='item' :value='item' v-model='picked'>
                <label :for='item'>{{ item.toLowerCase() }}</label>
            </template>

            <br>
            
            <span>Picked: {{ picked.toUpperCase() }}</span>
        </div>   
        <script>
            const v4 = new Vue({
                el: '#demo4',
                data: {
                    picked: '',
                    items: ['One', 'Two', 'Three', '🤒🤒🤒']
                }                
            })
        </script>     

        <div id='demo5'>
            <select v-model='selected'>
                <option disabled value="">请选择</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>

            <span>Selected: {{ selected }}</span>
        </div>
        <script>
            const v5 = new Vue({
                el: '#demo5',
                data: {
                    selected: ''
                }
            })
        </script>

        <div id='demo6'>
            <!-- 多选列表 -->
            <select v-model='selected' multiple style="width: 50px">
                <option>A</option>
                <option>B</option>
                <option>C</option>                
            </select>
            <br>
            <span>Selected: {{ selected }}</span>
        </div>
        <script>
            const v6 = new Vue({
                el: '#demo6',
                data: {
                    selected: []
                }
            })
        </script>

        <div id='demo7'>
            <!-- 动态选项 -->
            <select v-model='selected'>
                <option v-for='option of options' :value='option.value' :disabled='option.disabled'>
                    {{ option.text }}
                </option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
        <script>
            const v7 = new Vue({
                el: '#demo7',
                data: {
                    selected: '请选择',                    
                    options: [
                        { text: '请选择', value: '请选择', disabled: true },
                        { text: 'One', value: 'A', disabled: false },
                        { text: 'Two', value: 'B', disabled: false },
                        { text: 'Three', value: 'C', disabled: false },
                    ]
                }
            })
        </script>
        
        

        <div id='demo8'>
            <!-- 绑定值 -->
            <!-- input的v-model可以添加这些修饰符: .lazy .number .trim -->
            <input type="checkbox" v-model='toggle' :true-value='a' :false-value='b'>
                Hello
            </input>
        </div>
        <script>
            const v8 = new Vue({
                el: '#demo8',
                data: {
                    toggle: undefined,
                    a: 100,
                    b: 10010
                }
            })
        </script>

        <!-- <div id='demo6'>
        </div>
        <script>
            const v6 = new Vue({
                el: '#demo6',
                data: {
                
                }
            })
        </script> -->
    </body>
</html>